.sidebar {
  width: 0;
  padding: 16px;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
  transition: width 0.3s ease;
  white-space: nowrap;
}

.sidebar-open {
  padding: 16px;
  width: 250px;
}

.main-content {
  transition: all 0.3s ease;
}