<div class="modal-header">
	<h4 class="modal-title">{{'common.enter-data' | translate}}</h4>
	<button 
		type="button" 
		class="btn-close" 
		aria-label="Close" 
		(click)="activeModal.dismiss('Cross click')"
	>
	</button>
</div>

<div class="modal-body">
<form [formGroup]="formGroup" (ngSubmit)="handleSubmit()">
  <!--Id-->
  <div class="mb-3">
    <label class="form-label">{{'common.id' | translate}}</label>
    <dx-number-box
      formControlName="id"
      [min]="0"
      [inputAttr]="{ 'aria-label': 'Id' }">
    </dx-number-box>
  </div>

  <!--User-->
  <div class="mb-3">
    <label class="form-label">{{'association.modal.user' | translate}}</label>
      <select class="form-select" formControlName="idUser">
        <option *ngFor="let user of users()" [ngValue]="user.id">
          {{ user.surname }} {{ user.name }}
        </option>
      </select>
    @if (formGroup.controls.idUser.errors?.['required']) {
      <div class="text-danger">{{'common.control.required' | translate}}</div>
    }
  </div>

  <!--Progetto-->
  <div class="mb-3">
    <label class="form-label">{{'association.table.project' | translate}}</label>
      <select class="form-select" formControlName="idProject">
        <option *ngFor="let project of projects()" [ngValue]="project.id">
          {{ project.name }}
        </option>
      </select>
      @if (formGroup.controls.idProject.errors?.['required']){
      <div class="text-danger">{{'common.control.required' | translate}}</div>
    }
  </div>

  <!--Ore-->
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">{{'association.modal.hour' | translate}}</label>
      <dx-number-box
        formControlName="hours"
        [showSpinButtons]="true"
        [useLargeSpinButtons]="true"
        [inputAttr]="{ 'aria-label': 'Title' }"
      ></dx-number-box>
      @if (formGroup.controls.hours.errors?.['required']){
        <div class="text-danger">{{'common.control.required' | translate}}</div>
      } @else {
        @if (formGroup.controls.hours.errors?.['hours']){
          <div class="text-danger">{{'association.control.hour' | translate}}</div>
        }
      }
  </div>
  
  <button [disabled]="formGroup.invalid" type="submit" class="btn btn-primary">{{'common.button.submit' | translate}}</button>
</form>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-outline-secondary" (click)="activeModal.close('Close click')">
	  {{'common.button.close' | translate}}
	</button>
</div>